add a timezone property to calendars.

in order to comply with 5.2.2 of the CalDAV standard

   Conformance:  This property SHOULD be defined on all calendar
      collections.  If defined, it SHOULD NOT be returned by a PROPFIND
      DAV:allprop request (as defined in Section 12.14.1 of [RFC2518]).

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39905059-add-a-timezone-property-to-calendars?utm_campaign=plugin&utm_content=tracker%2F45525646&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F45525646&utm_medium=issues&utm_source=github).
</bountysource-plugin>

So newly created calendars should have this property matching user defined timezone in the settings ?

It's exposed in cdav library: https://github.com/nextcloud/cdav-library/blob/master/src/models/calendar.js#L67

Needs to be implemented in calendarStore in vue