[Feature Request] Add own categories, delete default ones

**Describe the solution you'd like**
It would be nice if you could add own categories and delete default ones.

**Additional context**
With v2.0.0-beta2 and Issue #107 categories got added and so far it works. Categories from Thunderbird get shown in the web calendar and vice versa but it would be nice to delete unwanted default categories and add own categories for direct selection for the web calendar. I've looked into the files if there is an easy way to change this but as it looks, it isn't. 

You can add own categories in 2.0.1 (and probably also in some earlier versions). Deleting the defaults seems to not be possible at the moment, self-created categories don't show up in the list. Also see #71 

You miss understood me or I wasn't specific enough. Adding a own Category to one event works but also assigning this category to an other event needs to be done manually (I talk about the Web Interface). When multiply users have access to this Calendar, this would be an issue. 

My idea is that an admin can add own categories that should be used as default and others not. When everyone needs to retype a category, small differences can occur and would mess things up. 
You can color code every category to show how important something is. For example blue for a in house event, purple for external events, green for holidays, red for very important event and so on. It would be a mess if someone would messes up one category by slipping on the keyboard and adding a character and so messing up the color and people not noticing it.

For a single user, this won't be an issue, because in Thunderbird I can add my own categories and just using them but this isn't possible for the web client. 

So in addition to what is available now:
- [ ] Shareable list of categories for every calendar, prefilled with current defaults
- [ ] Ability to add, remove and edit all categories in this list (which would probably mean updates to all events using them the way they are implemented at the moment)
- [ ] Some kind of permission system. In your case not everyone who can add events should be able to add new categories but they should still be able to use existing ones
- [ ] Sync of the whole list of categories to Thunderbird and other clients. I don't think that's possible right now, especially considering permissions

I could also imagine the Flow-App to integrate with this somehow, also kind of related to [#1540 (Comment)](https://github.com/nextcloud/calendar/pull/1540#issuecomment-544563314) for viewing categories easily I guess

Sync/Download with other clients would be a nice to have but not really mandatory. I don't know if the Clients or the Protocol would support this. Also it's not so hard to add the Categories once in the clients.

Using the Permission System would be nice too but I don't know how hard it would be. I mean a calendar isn't something that strangers would have access to and I would expect that people would intentionally mess things up. 

The core feature would be  No. 1 and No. 2 just inside a Nextcloud for all Users. 

A more complicated calendar for big company use would require a more in depth permission system  and more automation. I think this would be too much to ask for.

I very much appreciate that calendar categories are now visible from the webinterface as well. But please refrain from syncing categories across clients. Esp when you share a calendar with others you do not want to see all their categories in your dropdown list nor would you like to use their colors.
In fact I share a calendar with colleagues and if an entry is assigned to a specific person we add that person's category. In the client (Thunderbird) I have only changed MY category to red the others are the same default color.
I have even removed all the default categories from TB as they can not be localized and you soon have "Privat", "private", "privé", as three categories instead of one. 

But I recommend to 
add all used categories to the list when a calendar gets imported
add new categories when used
but not re-add them when the used deleted a category manually.

M.


Hi,
we are a group of twenty people, who would like to use the nextcloud to organize our internal and external work.  We are part of a larger organization, which provides the nextcloud for a lot of people with different interest/work.
But: We will have a restricted group and we need a calendar with our internal/external events.
Tor this the standard categories like "travelling" are not really useful. The typing and assigning of colours to them, will differenate even with probably 5 persons maintaining the calendar.
Therefore we would like to :
- add fixed categories
- add may later on more categories, when the need arise
- remove the default
- the group members should still have the possiblilty to "add" a new category, if it is more suitable for the purpose.
As a closed group, we do not care about the outerspace - neither other groups nor exchange with calendars in other systems/tools.    
We would need no translation, just the text we enter at our defaults.
For the permission - I guess something like the "groupowner" - would be fine.
May be a first step would be an extension only for restricted/closed groups. 
kind regards
Gerhard

Not sure, if I understand @MysticJay correctly, but imho syncing categories across clients is absolutely necessary. I definitely want to have the same categories that I have in the web interface on my phone as well as in my desktop application.

Importing a shared calendar is probably a different thing. It would make sense to allow for 'do not import categories' or something similar.

> , but imho syncing categories across clients is absolutely necessary.

Well, please start an initiative for an RFC, but right now there is no standard for it.

Here another user that would really appreciate creating a custom list of categories. As a workaround, I guess I could just change the default list in the source code of the instance? (I found a list in [src/defaults/defaultCategories.js][0])

--- 

And regarding syncing the list of categories:

> > , but imho syncing categories across clients is absolutely necessary.
> 
> Well, please start an initiative for an RFC, but right now there is no standard for it.

Possibly of interest is [RFC 7986][1] “New Properties for iCalendar”, which extends (see [section 5.6][2]) the CATEGORIES property to also be usable on the whole iCalendar object:

> This specification modifies the definition of the "CATEGORIES"
> property to allow it to be defined in an iCalendar object.  The
> following additions are made to the definition of this property,
> originally specified in Section 3.8.1.2 of [RFC5545].
>
> Purpose:  This property defines the categories for an entire
>    calendar.

I have no idea if/which other software supports this, but it sounds like it may be suitable for this purpose. However one could also interpret the purpose as ‘listing the categories this calendar belongs to’, rather than ‘listing the categories its events can have’; I honestly do not know which meaning is intended.

[0]: https://github.com/nextcloud/calendar/blob/8055db2d6103a951381e7f3892d967530b728697/src/defaults/defaultCategories.js
[1]: https://tools.ietf.org/html/rfc7986
[2]: https://tools.ietf.org/html/rfc7986#section-5.6

We have an events calendar of our club.
It is edited by multiple persons.
We want to use categories to publish meetings to different parts of our website.
Therefore configurable categories would be a real benefit.

Proposing again categories that were used before would already help.

I have a similar request #3735. 

I'm a bit surprised this is open. I thought the Add a category to Calendar entries was implemented. Today I tried adding "Deadline" to one of my two NC instances and it did not work. Tried it via Ubuntu and Windows 11.

Hi,

This feature is really really needed for use Nextcloud Calendar for a lot of people... Any news ?

Would really love an update on this! Waiting 3 years for a simple modification to a dropdown menu does not seem appropriate... 

@diabolicvincent-git you're probably right. Wanna give this a go? I can provide you with some pointers.

If you can provide some advice to help anyone who can add this on the plugin, it'll be really helpfull I think. In fact I would love to do it but I'm not really confortable with the language used here :D

Hi team!

Category visualization with colored tag in the year/month/week/day event view is a crucial feature, for example, to see past and future changes/features of events (remote or local event, event is completely closed or there is some documents left, etc.).

Will it be added in future releases? 

One more voice here - being able to manage categories is crucial and a must (in my view) to be implemented (hopefully sooner than later)...

Dear @Iwios,
Feel free to read up and check out the two links https://github.com/nextcloud/calendar/pull/5498 and https://github.com/nextcloud/calendar/issues/5509. There was a first version of the feature but it was not production ready, so it had to be reverted.
Someone has to invest their time in the database issues, then we can bring the feature back.
Nothing is blocking this feature.

### Feature Request: Flexible management of calendar categories (add, remove, edit, sort, assign permissions)

---

#### Description / Motivation
Currently, Nextcloud Calendar provides only a **hardcoded list of default categories**, and there is no way for users or administrators to add their own, remove unused ones, or centrally manage them via the web interface.  

For many organizations (e.g. churches, associations, companies), it is crucial that all users rely on a **consistent set of categories** when classifying events (e.g. “Service”, “Service with Communion”, “Baptism Service”, “Children’s Service”). If categories are only available via hardcoded defaults or through external clients (Thunderbird, Outlook, etc.), inconsistency and manual work arise.  

Therefore, I would like to propose a **comprehensive category management feature** for Nextcloud Calendar.  

---

#### Requirements & Use Cases

| Aspect | Expected behavior / benefit |
|--------|-----------------------------|
| **Add category** | Users with the right permissions (e.g. calendar admins) can create a new category via UI (name, color, optional icon). |
| **Delete / deactivate category** | Unused categories can be removed or disabled, with a warning if they are still assigned to existing events. |
| **Rename category** | Categories can be edited (name, color), with the option to update existing events accordingly. |
| **Sort & group categories** | Categories can be sorted manually or grouped (e.g. “Service types”, “Meetings”, “Internal”). |
| **Visibility / scope** | Categories can be defined globally (for all users) or restricted to specific calendars / groups. |
| **Roles & permissions** | Only users with certain roles (e.g. admin, calendar manager) may manage categories. |
| **Import / migration** | Categories already used in external clients (Thunderbird, etc.) are recognized and can be imported into the central category list. |
| **CalDAV/iCalendar sync** | Categories are stored as `CATEGORIES` in iCalendar format to ensure client compatibility. |
| **Fallback compatibility** | If a client adds a category not defined on the server, it should still be displayed (marked as “undefined” or similar). |
| **API / CLI access** | Admins should be able to manage categories programmatically (API or CLI) for automation. |

---

#### Suggested UI / Interaction
- A new **“Manage Categories”** section in the Calendar app settings.  
- During event creation/editing, the category dropdown should show:  
  1. Global categories  
  2. User-defined categories  
  3. “Other…” (manual free-text, if allowed)  
- Categories can have colors and possibly icons for better visual distinction.  
- Admins can configure which categories are available per calendar or per group.  

---

#### Example Scenarios

1. **Unified service categories in a church association**  
   An admin defines “Service”, “Service with Baptism”, “Service with Communion”, “Children’s Service”, “Evening Prayer”. All users see the same options when creating events.  

2. **Removing outdated categories**  
   A category “Rehearsal” is no longer relevant. When deleting it, the system warns about existing events and allows either removal or replacement with another category.  

3. **Visual clarity through colors & icons**  
   Categories can be color-coded or icon-labeled, so users immediately recognize the type of event in the calendar view.  

4. **Client compatibility**  
   Categories created in Thunderbird are recognized by Nextcloud and can be integrated into the central category list.  

5. **Automation / scripting**  
   An admin can define the organization’s categories via a deployment script or API call, ensuring the same setup across multiple instances.  

---

#### Benefits
- **Consistency**: all users use the same categories, reducing confusion and typos.  
- **Better filtering & reporting**: unified categories allow structured analysis and searching.  
- **Ease of use**: users don’t need to remember or retype categories.  
- **Scalability**: organizations with many users and calendars can maintain standards more easily.  
- **Professionalization**: matches the expectations of enterprise and community use cases.  

---

#### Challenges to consider
- Migration of existing events with undefined or custom categories.  
- Performance for instances with very large numbers of categories.  
- Rights/permissions design: who can edit categories?  
- Maintaining CalDAV/iCalendar compliance.  
- Ensuring backward compatibility: clients that don’t support categories should still keep the data intact.  

---

This feature would be a **major usability improvement** and would make Nextcloud Calendar much more powerful for organizations that rely on consistent event categorization.
