RRULE UNTIL must be in UTC if DTSTART is timezone-aware

### Steps to reproduce
1. Create a calendar entry with date and local time in the Calendar web UI
2. Click "More", navigate to "Repeat"
3. Configure recurrence with End Repeat set to "on date" and choose a date
4. Save the entry
5. Query the calendar through the `/remote.php/dav/calendars/<user>/<calendar>/?export` endpoint

### Expected behaviour
The calendar event returned by the CalDAV endpoint should conform to [section 3.3.10 of RFC5545](https://tools.ietf.org/html/rfc5545#section-3.3.10), especially the following excerpt:

> The value of the UNTIL rule part MUST have the same
> value type as the "DTSTART" property.  Furthermore, if the
> "DTSTART" property is specified as a date with local time, then
> the UNTIL rule part MUST also be specified as a date with local
> time.  **If the "DTSTART" property is specified as** a date with UTC
> time or **a date with local time and time zone reference, then the
> UNTIL rule part MUST be specified as a date with UTC time.**

### Actual behaviour
The UNTIL rule of the event is not timezone-aware, as can be seen in the following example, which I copied from an example following the above steps:

```
BEGIN:VEVENT
CREATED:20201030T210401Z
DTSTAMP:20201030T210419Z
LAST-MODIFIED:20201030T210419Z
SEQUENCE:2
UID:e8859ae2-4918-413f-b89e-c2c2e825d608
DTSTART;TZID=Europe/Zurich:20201022T100000
DTEND;TZID=Europe/Zurich:20201022T110000
SUMMARY:test
RRULE:FREQ=DAILY;UNTIL=20201024T000000
END:VEVENT
```

Note that the DTSTART property is timezone-aware (`TZID=Europe/Zurich`), while the UNTIL property of the RRULE is not.

Also note that the UNTIL property points to midnight instead of the time of day specified in DTSTART. While not forbidden by RFC5545, this is somewhat counterintuitive, as it causes the recurrence to end one occurrence earlier.

### Calendar app
**Calendar app version:** 2.1.2

**CalDAV-clients used:** Python [icalendar](https://pypi.org/project/icalendar/) library

### Client configuration
**Browser:** Chromium 86

**Operating system:** Arch Linux

### Server configuration

**Operating system**: Debian 10

**Web server:** Apache 2.4

**Database:** MariaDB 10.3

**PHP version:** 7.3.19

**Nextcloud Version:** 20.0.1.1

**Updated from an older installed version or fresh install:** Updated from Nextcloud 19.x

**List of activated apps:**

```
Enabled:
  - accessibility: 1.6.0
  - admin_audit: 1.10.0
  - calendar: 2.1.2
  - cloud_federation_api: 1.3.0
  - comments: 1.10.0
  - contacts: 3.4.1
  - contactsinteraction: 1.1.0
  - dashboard: 7.0.0
  - dav: 1.16.0
  - deck: 1.1.2
  - documentserver_community: 0.1.8
  - federatedfilesharing: 1.10.1
  - files: 1.15.0
  - files_pdfviewer: 2.0.1
  - files_rightclick: 0.17.0
  - files_sharing: 1.12.0
  - files_trashbin: 1.10.1
  - files_versions: 1.13.0
  - files_videoplayer: 1.9.0
  - groupfolders: 8.1.0
  - logreader: 2.5.0
  - lookup_server_connector: 1.8.0
  - nextcloud_announcements: 1.9.0
  - notifications: 2.8.0
  - oauth2: 1.8.0
  - onlyoffice: 6.1.0
  - password_policy: 1.10.1
  - photos: 1.2.0
  - polls: 1.5.7
  - previewgenerator: 3.0.1
  - privacy: 1.4.0
  - provisioning_api: 1.10.0
  - recommendations: 0.8.0
  - serverinfo: 1.10.0
  - settings: 1.2.0
  - sharebymail: 1.10.0
  - spreed: 10.0.1
  - support: 1.3.0
  - survey_client: 1.8.0
  - systemtags: 1.10.0
  - tasks: 0.13.5
  - text: 3.1.0
  - theming: 1.11.0
  - twofactor_backupcodes: 1.9.0
  - twofactor_totp: 5.0.0
  - twofactor_u2f: 6.0.0
  - updatenotification: 1.10.0
  - user_ldap: 1.10.2
  - user_status: 1.0.0
  - viewer: 1.4.0
  - weather_status: 1.0.0
  - workflowengine: 2.2.0
Disabled:
  - activity
  - encryption
  - federation
  - files_external
  - firstrunwizard
```

**Nextcloud configuration:**

```
{
    "system": {
        "installed": true,
        "trusted_domains": [
            "***REMOVED SENSITIVE VALUE***"
        ],
        "overwrite.cli.url": "***REMOVED SENSITIVE VALUE***",
        "lost_password_link": "***REMOVED SENSITIVE VALUE***",
        "datadirectory": "***REMOVED SENSITIVE VALUE***",
        "logfile": "\/var\/log\/nextcloud\/nextcloud.log",
        "mysql.utf8mb4": true,
        "default_language": "de",
        "default_locale": "de_CH",
        "connectivity_check_domains": [
            "***REMOVED SENSITIVE VALUE***"
        ],
        "instanceid": "***REMOVED SENSITIVE VALUE***",
        "passwordsalt": "***REMOVED SENSITIVE VALUE***",
        "secret": "***REMOVED SENSITIVE VALUE***",
        "dbtype": "mysql",
        "version": "20.0.1.1",
        "dbname": "***REMOVED SENSITIVE VALUE***",
        "dbhost": "***REMOVED SENSITIVE VALUE***",
        "dbport": "",
        "dbtableprefix": "oc_",
        "dbuser": "***REMOVED SENSITIVE VALUE***",
        "dbpassword": "***REMOVED SENSITIVE VALUE***",
        "memcache.local": "\\OC\\Memcache\\APCu",
        "memcache.distributed": "\\OC\\Memcache\\APCu",
        "allow_local_remote_servers": "true",
        "onlyoffice": {
            "verify_peer_off": true
        },
        "mail_smtpmode": "smtp",
        "mail_smtpsecure": "tls",
        "mail_sendmailmode": "smtp",
        "mail_from_address": "***REMOVED SENSITIVE VALUE***",
        "mail_domain": "***REMOVED SENSITIVE VALUE***",
        "mail_smtpauthtype": "LOGIN",
        "mail_smtpauth": 1,
        "mail_smtphost": "***REMOVED SENSITIVE VALUE***",
        "mail_smtpport": "25",
        "mail_smtpname": "***REMOVED SENSITIVE VALUE***",
        "mail_smtppassword": "***REMOVED SENSITIVE VALUE***",
        "htaccess.RewriteBase": "\/",
        "theme": "",
        "loglevel": 2,
        "maintenance": false,
        "ldapProviderFactory": "OCA\\User_LDAP\\LDAPProviderFactory"
    }
}
```
