RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware

### Steps to reproduce

1. Download an ICS export from https://framagenda.org/remote.php/dav/calendars/USERNAME/CALENDAR/?export


### Expected behavior

RRULE in VTIMEZONE section should conform to the RFC5545 Section 3.3.10.

### Actual behaviour

I'm getting:

```ics
BEGIN:VTIMEZONE
TZID:Europe/Paris
X-LIC-LOCATION:Europe/Paris
BEGIN:DAYLIGHT
TZNAME:CEST
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
DTSTART:19810329T020000
RRULE:FREQ=YEARLY;UNTIL=20370329T010000Z;BYDAY=-1SU;BYMONTH=3
END:DAYLIGHT
BEGIN:STANDARD
TZNAME:CET
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
DTSTART:19961027T030000
RRULE:FREQ=YEARLY;UNTIL=20361026T010000Z;BYDAY=-1SU;BYMONTH=10
END:STANDARD
END:VTIMEZONE
```

where DTSTART not being tz-aware while UNTIL is tz-aware.



### Calendar app version

4.3.3

### CalDAV-clients used

https://github.com/ics-py/ics-py

### Browser

_No response_

### Client operating system

Debian Bookworm

### Server operating system

Debian Bullseye

### Web server

Nginx

### Database engine version

None

### PHP engine version

None

### Nextcloud version

25.0.6.1

### Updated from an older installed version or fresh install

Updated from an older version

### List of activated apps

_No response_

### Nextcloud configuration

_No response_

### Web server error log

_No response_

### Log file

_No response_

### Browser log

_No response_

### Additional info

Related to https://github.com/nextcloud/calendar/issues/2675

It's the famous https://framagenda.org instance ♥

Can still reproduce with Nextcloud 25.0.12.0 and calendar 4.5.2.
